<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-input placeholder="Usuario" [(ngModel)]="user.username" name="username" required></ion-input>
    <ion-input placeholder="Contraseña" [(ngModel)]="user.password" name="password" required></ion-input>
    <ion-button type="submit" [routerLink]="['/home', user.username]">INGRESAR</ion-button>
  </form>
  <a [routerLink]="['/password-recovery']">Recuperar contraseña</a>
</ion-content>
